body {
    background-image: url('bgimage.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Inter, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

/* .card-list {
    display:grid;
    position: relative;
    flex-direction: column;
    width: 260px;
    padding: 1.5rem;

    transition: .2s;
} */

.card-list {
    float: right;
}

.card-name {
    font-size: 30px;
}

.card {
    border-radius: 20px;
    background: whitesmoke;
    margin: 30px;
    box-shadow: 2px 2px 10px black;
    opacity: 0.8;
    width: 400px;
    padding: 20px;
}

.card:hover {
    background-color: darkgray;
    transition: 0.7s;
    cursor: pointer;
}

.button {
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    border: 0px;
    opacity: 0.8;
    font-size: 20px;
    margin: 10px;
    padding: 5px;
}

.search-bar {
    margin: 50px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border: 0px;
    opacity: 0.8;
    font-size: 20px;
    padding-left: 10px;
}

.select {
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    border: 0px;
    opacity: 0.8;
    font-size: 20px;
    margin: 10px;
    padding: 5px;
}

.player-data {
    float: right;
    margin-right: 9%;
    width: 30%;
}

.card-2 {
    border-radius: 20px;
    background: whitesmoke;
    margin: 30px;
    box-shadow: 2px 2px 10px black;
    opacity: 0.8;
    padding: 25px;
    width: 100%;
}

.button:hover {
    background-color: darkgray;
    transition: 0.7s;
    cursor: pointer;
}

.select:hover {
    background-color: darkgray;
    transition: 0.7s;
    cursor: pointer;
}

.form-home {
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    background: whitesmoke;
    margin-left: 2%;
    margin-right: 65%;
    box-shadow: 2px 2px 10px black;
    opacity: 0.8;
    transition: 1s;
}

.input-box {
    margin: 10px;
}

.header-bar {
    cursor: pointer;
    margin: 0px;
    display: block;
}

.brand {
    font-style: italic;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline;
}

.logo {
    margin-right: 7px;
}

.error {
    color: red;
    transition: 0.5s;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    font-size: 14px;
}

h3.brand::before {
    content: url('logo.png');
    vertical-align: -50%;
    margin-right: 10px;
}
